* { box-sizing: border-box }

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  --next-gradient-colour-1: #43498a;
  --next-gradient-colour-2: #add19e;
  --next-gradient-angle: 45deg;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background: linear-gradient(var(--next-gradient-angle), var(--next-gradient-colour-1) 0%, var(--next-gradient-colour-1) 7%, var(--next-gradient-colour-2) 95%, var(--next-gradient-colour-2) 100%);
  color: white;padding: 1em;
}

div {
  text-align: center;
}

div.maintext {
  font-size: 7vw;
  font-weight: 600;
  animation: float 4s ease-in-out infinite;
}

div.subtext, div.noscript {
  font-size: 4vw;
}

#epilepsyWarning {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 8vh;
  background-color: white;
  color: black;
  line-height: 8vh;
  font-weight: 600;
}

.swipeUp {
  animation: swipe-up 2s ease 1 forwards;
}

.block {
  display: block !important;
}

.swipeDown {
  animation: swipe-down 2s ease 1 forwards;
}

@keyframes float {
  0%, 100% {
    transform: scale(85%);
  }
  
  50% {
    transform: scale(100%);
  }
}

@keyframes swipe-up {
  100% {
    transform: translateY(-100%);
  }
}

@keyframes swipe-down {
  0% {
    transform: translateY(-100%);
  }
  
  100% {
    transform: translateY(0%);
  }
}